In [1]:
import pandas as pd
import nltk

In [16]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Sangmeshwar\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Sangmeshwar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Sangmeshwar\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Sangmeshwar\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [3]:
text = "Hello everyone. Welcome to DSBDA lab. We are studying text analytics"

In [5]:
from nltk.tokenize import sent_tokenize, word_tokenize
token_sent = sent_tokenize(text)
token_sent

['Hello everyone.', 'Welcome to DSBDA lab.', 'We are studying text analytics']

In [6]:
token_word = word_tokenize(text)
token_word

['Hello',
 'everyone',
 '.',
 'Welcome',
 'to',
 'DSBDA',
 'lab',
 '.',
 'We',
 'are',
 'studying',
 'text',
 'analytics']

In [7]:
from nltk.corpus import stopwords

In [8]:
stopwords = set(stopwords.words('english'))
stopwords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [11]:
filtered_sent = []
for i in token_word:
    if i.lower() not in stopwords:
        filtered_sent.append(i)
        
print("Tokenize", token_word)
print("Filtered", filtered_sent)

Tokenize ['Hello', 'everyone', '.', 'Welcome', 'to', 'DSBDA', 'lab', '.', 'We', 'are', 'studying', 'text', 'analytics']
Filtered ['Hello', 'everyone', '.', 'Welcome', 'DSBDA', 'lab', '.', 'studying', 'text', 'analytics']

In [12]:
from nltk.stem import PorterStemmer

ps = PorterStemmer()
stemmed = []
for i in filtered_sent:
    stemmed.append(ps.stem(i))
print("Filtered", filtered_sent)
print("Stemmed", stemmed)

Filtered ['Hello', 'everyone', '.', 'Welcome', 'DSBDA', 'lab', '.', 'studying', 'text', 'analytics']
Stemmed ['hello', 'everyon', '.', 'welcom', 'dsbda', 'lab', '.', 'studi', 'text', 'analyt']

In [14]:
from nltk.stem.wordnet import WordNetLemmatizer

lem = WordNetLemmatizer()
lemmatize = []
for i in filtered_sent:
    lemmatize.append(lem.lemmatize(i))
print("Filtered", filtered_sent)
print("Lemmatize", lemmatize)

Filtered ['Hello', 'everyone', '.', 'Welcome', 'DSBDA', 'lab', '.', 'studying', 'text', 'analytics']
Lemmatize ['Hello', 'everyone', '.', 'Welcome', 'DSBDA', 'lab', '.', 'studying', 'text', 'analytics']

In [17]:
nltk.pos_tag(token_word)

[('Hello', 'NNP'),
 ('everyone', 'NN'),
 ('.', '.'),
 ('Welcome', 'NNP'),
 ('to', 'TO'),
 ('DSBDA', 'NNP'),
 ('lab', 'NN'),
 ('.', '.'),
 ('We', 'PRP'),
 ('are', 'VBP'),
 ('studying', 'VBG'),
 ('text', 'IN'),
 ('analytics', 'NNS')]

In [18]:
first_sentence = "Data Science is the hardest job of the 21st century"
second_sentence = "machine learning is the key for data science"

first_sentence = first_sentence.split(" ")
second_sentence = second_sentence.split(" ")

total= set(first_sentence).union(set(second_sentence))
print(total)

{'Science', 'century', 'Data', 'for', '21st', 'data', 'learning', 'job', 'hardest', 'of', 'machine', 'key', 'is', 'science', 'the'}

In [19]:
dictA = dict.fromkeys(total, 0)
dictB = dict.fromkeys(total, 0)

for i in first_sentence:
    dictA[i]+=1

for i in second_sentence:
    dictB[i]+=1

print(dictA)
print(dictB)

{'Science': 1, 'century': 1, 'Data': 1, 'for': 0, '21st': 1, 'data': 0, 'learning': 0, 'job': 1, 'hardest': 1, 'of': 1, 'machine': 0, 'key': 0, 'is': 1, 'science': 0, 'the': 2}
{'Science': 0, 'century': 0, 'Data': 0, 'for': 1, '21st': 0, 'data': 1, 'learning': 1, 'job': 0, 'hardest': 0, 'of': 0, 'machine': 1, 'key': 1, 'is': 1, 'science': 1, 'the': 1}

In [21]:
df = pd.DataFrame([dictA, dictB])

In [22]:
df

,Science,century,Data,for,21st,data,learning,job,hardest,of,machine,key,is,science,the
0,1,1,1,0,1,0,0,1,1,1,0,0,1,0,2
1,0,0,0,1,0,1,1,0,0,0,1,1,1,1,1

In [23]:
def wordDict(dicti, sent):
    tfDict = {}
    corpouscnt = len(sent)
    for word, count in dicti.items():
        tfDict[word] = count/float(corpouscnt)
    return tfDict

In [25]:
tf1 = wordDict(dictA, first_sentence)
tf2 = wordDict(dictB, second_sentence)

In [26]:
tfdf = pd.DataFrame([tf1, tf2])

In [27]:
tfdf

,Science,century,Data,for,21st,data,learning,job,hardest,of,machine,key,is,science,the
0,0.1,0.1,0.1,0.000,0.1,0.000,0.000,0.1,0.1,0.1,0.000,0.000,0.100,0.000,0.200
1,0.0,0.0,0.0,0.125,0.0,0.125,0.125,0.0,0.0,0.0,0.125,0.125,0.125,0.125,0.125